@model ClinicalAthletes.Entities.ExercisePlan
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Upload exercise Plan</h4>
        <p class="category">

        </p>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-md-6">
                <input type="file" name="excel" id="excel" />
            </div>
            <div class="col-md-6">

            </div>
        </div> <br>
        <div class="row">
            @using (Html.BeginForm("Import", "Home", FormMethod.Post))
        {
            <div class="importFrm col-md-12" style="display:none;">

                <p class="category">Enter Plan details</p>
                @Html.ValidationSummary()
                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Plan Name</label>
                        @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control" })
                        @Html.HiddenFor(m =>m.ExcelFilePath)
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Description <span class="text-muted">(optional)</span></label>
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-lg-offset-4">
                        <button type="submit" class="btn btn-primary btn-block" data-loading-text="<i class='fa fa-lg fa-spin fa-circle-o-notch'></i>">Import</button>
                    </div>
                </div>
            </div>
    }
        </div>
        
    </div>
</div>

@Html.Partial("_KendoUIRef")

<script src="~/Scripts/excelImport.js"></script>