 
@{
    ViewBag.Title = "AccountAsync";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="card" style="margin-top:10%;" id="window">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Manage Account</h4>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="#" onclick="alert('Work in progress!')">Change Password</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-lg-offset-4">
                <a href="@Url.Action("Dashboard","User")" class="btn btn-default">Back</a>
            </div>
        </div>
    </div>

</div>
