
@{
    ViewBag.Title = "Dahsboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Select exercise Plan</h4>
        <p class="category">
        </p>
    </div>
    <div class="card-content">
        <div class="row">

            <div class="col-md-3">
                <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/card-blog3.jpg')">
                    <div class="card-content">
                        <h6 class="category text-info">Premium</h6>
                        <h1 class="card-title"><small>$</small>89</h1>
                        <ul>
                            <li><b>100</b> Projects</li>
                            <li><b>5</b> Team Members</li>
                            <li><b>55</b> Personal Contacts</li>
                            <li><b>5.000</b> Messages</li>
                        </ul>
                        <a href="#pablo" class="btn btn-danger">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/card-blog3.jpg')">
                    <div class="card-content">
                        <h6 class="category text-info">Premium</h6>
                        <h1 class="card-title"><small>$</small>89</h1>
                        <ul>
                            <li><b>100</b> Projects</li>
                            <li><b>5</b> Team Members</li>
                            <li><b>55</b> Personal Contacts</li>
                            <li><b>5.000</b> Messages</li>
                        </ul>
                        <a href="#pablo" class="btn btn-danger">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/card-blog3.jpg')">
                    <div class="card-content">
                        <h6 class="category text-info">Premium</h6>
                        <h1 class="card-title"><small>$</small>89</h1>
                        <ul>
                            <li><b>100</b> Projects</li>
                            <li><b>5</b> Team Members</li>
                            <li><b>55</b> Personal Contacts</li>
                            <li><b>5.000</b> Messages</li>
                        </ul>
                        <a href="#pablo" class="btn btn-danger">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/card-blog3.jpg')">
                    <div class="card-content">
                        <h6 class="category text-info">Premium</h6>
                        <h1 class="card-title"><small>$</small>89</h1>
                        <ul>
                            <li><b>100</b> Projects</li>
                            <li><b>5</b> Team Members</li>
                            <li><b>55</b> Personal Contacts</li>
                            <li><b>5.000</b> Messages</li>
                        </ul>
                        <a href="#pablo" class="btn btn-raised btn-danger">
                            Select
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
</div>
<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" />
