
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
 

<div class="card" style="margin-top:10%;" id="window">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Payment</h4>
    </div>
    <div class="card-content">
        <div class="row">
            <button class="btn btn-warning  btn-lg">
                <i class="fa fa-paypal fa-3x"></i> Proceed to Payment
            </button>
        </div>
    </div>

</div>
