@model ClinicalAthletes.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">

                    <div class="header header-primary text-center">
                        <h4 class="card-title"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</h4>
                    </div>
                    <div class="card-content">
                        <section id="loginForm">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "forgot-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope">&nbsp;</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email..." })
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <div class="form-group is-empty">
                                        <button class="btn btn-primary" id="btnSubmit" value="Email Link" type="submit"
                                                data-loading-text="<i class='fa fa-lg fa-spin fa-circle-o-notch'></i>">
                                            Email Link
                                        </button>
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("form#forgot-form").submit(function () {
                if ($(this).valid()) {
                    var $btn = $("#btnSubmit");
                    $btn.button('loading');
                }
            });
        });
    </script>
}
<style>
    .wrapper {
        height: 100%;
    }
</style>